# Git Attributes
# Auto detect text files and perform LF normalization
# Templates: https://github.com/alexkaratarakis/gitattributes
# Usually not necessary...


# Default behavior
*          text=auto

# Bash scripts must use lf line endings
*.sh       text   eol=lf

# Windows scripts must use CRLF line endings
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Other
*.cs       text   diff=csharp
*.cshtml   text   diff=html
*.scala    text   diff=java
*.class    binary
